In [54]:
import pandas as pd
from pprint import pprint
from datetime import datetime, time

In [3]:
df = pd.read_csv('../outputs/full_03_member_definition.csv')

In [4]:
df['member'].value_counts(dropna=False)

6    2979
3    1021
2    1021
5    1021
1    1021
4    1021
Name: member, dtype: int64

In [10]:
df['experiment_file'].value_counts(dropna=False)

lineup_videoVIPER.osexp      2077
lineup_videoFB.osexp         1971
lineup_videoVIPER_W.osexp    1000
lineup_liveWOMEN.osexp        991
lineup_liveMEN.osexp          925
lineup_videoFB_W.osexp        733
lineup_liveMEN_W.osexp        204
lineup_liveWOMEN_W.osexp      183
Name: experiment_file, dtype: int64

In [11]:
df = pd.read_csv('../outputs/full_04_condition_added.csv')

In [13]:
df['condition'].value_counts(dropna=False)

HS      3077
FB      2704
live    2303
Name: condition, dtype: int64

In [21]:
df3 = pd.read_csv('../outputs/full_05_target_value_added.csv')

In [27]:
df3.target.isna()

0       False
1       False
2       False
3       False
4       False
        ...
8079     True
8080     True
8081     True
8082     True
8083     True
Name: target, Length: 8084, dtype: bool

In [28]:
df4 = pd.read_csv('../outputs/full_06_pruning_columns.csv')

In [36]:
df4['lecture_time'].value_counts(dropna=False)

NaN        2120
1pm        1609
10am       1429
11am       1146
12am        688
12.15pm     416
12noon      288
2pm         157
10.45am     135
11.30am      48
12 noon      48
Name: lecture_time, dtype: int64

In [67]:
df4['lecture_time'] = df4['lecture_time'].fillna("zubr", inplace=True)

In [68]:
lecture_time_dict = {
    "zubr": time(0,0),
    "1pm": time(13),
    "10am": time(10),
    "11am": time(11),
    "12am": time(12),
    "12.15pm": time(12,15),
    "12noon": time(12),
    "2pm": time(14),
    "10.45am": time(10,45),
    "11.30am": time(11,30),
    "12 noon": time(12,0),
}
df4["lecture_time"] = df["lecture_time"].map(lecture_time_dict)

In [69]:
df4["lecture_time"].value_counts(dropna=False)

NaN         2120
13:00:00    1609
10:00:00    1429
11:00:00    1146
12:00:00    1024
12:15:00     416
14:00:00     157
10:45:00     135
11:30:00      48
Name: lecture_time, dtype: int64