In [45]:
import pandas as pd
from datetime import datetime, time, date
import numpy as np

In [52]:
df = pd.read_csv("../outputs_v2/05_grouping_2.csv")

In [55]:
sel= df[(df['subject_nr']==1)&(df['condition'] == 'live')]

,confidence_immediate,datetime,experiment_file,experiment_path,gender,identification,identification_made,identification_multiple,identification_proceed,lecture_time,...,datetime_updated,date_rank,datetime_rank,person,condition,target_value,gender_updated,lecture_datetime,gender_first,repetition
39,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,Not sure,no,no,no,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,0
40,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,No,no,no,no,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,0
41,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,No,no,no,no,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,0
42,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,No,no,no,no,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,0
43,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,Not sure,no,no,no,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,0
44,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,No,no,no,no,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,0
45,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,No,No,no,No,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,repeated_six
46,no,11/04/17 10:27:22,lineup_liveWOMEN.osexp,D:/Lineup study,NaN,No,No,no,No,10:00:00,...,2017/11/04 10:27:22,1.0,1.0,NaN,live,NaN,female,2017/11/04 10:00:00,female,repeated_six
47,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,Not sure,no,no,no,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,0
48,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,Not sure,no,no,no,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,0
49,50,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,Yes,no,no,no,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,0
50,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,No,no,no,no,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,0
51,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,Not sure,no,no,no,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,0
52,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,No,no,no,no,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,0
53,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,No,Yes,One,No,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,repeated_six
54,no,11/04/17 11:05:18,lineup_liveMEN.osexp,C:\Users\Laptop1\Desktop\Lineup study,NaN,No,Yes,One,No,10:00:00,...,2017/11/04 11:05:18,1.0,6.0,NaN,live,NaN,male,2017/11/04 10:00:00,female,repeated_six