In [78]:
import pandas as pd
from datetime import datetime, time, date

In [79]:
df = pd.read_csv("../outputs/full_07_datetime.csv")

In [80]:
df.datetime

0       03/21/18 14:53:59
1       03/21/18 14:53:59
2       03/21/18 14:53:59
3       03/21/18 14:53:59
4       03/21/18 14:53:59
              ...
8079    11/04/17 10:27:22
8080    11/04/17 10:27:22
8081    11/04/17 10:27:22
8082    11/04/17 10:27:22
8083    11/04/17 10:27:22
Name: datetime, Length: 8084, dtype: object

In [81]:
x = datetime.strptime(df['datetime'][0], '%m/%d/%y %H:%M:%S')
x

datetime.datetime(2018, 3, 21, 14, 53, 59)

In [82]:
x.date()

datetime.date(2018, 3, 21)

In [83]:
datetime.combine(date(2011, 1, 1), time(10, 23))

datetime.datetime(2011, 1, 1, 10, 23)

In [84]:
time.fromisoformat(df['lecture_time'][0])

datetime.time(0, 0)

In [101]:
a = list(df['new_datetime'].unique())
a.sort()
a

['2017-04-11 10:00:00',
 '2017-04-11 11:00:00',
 '2017-04-11 14:00:00',
 '2017-11-04 10:00:00',
 '2017-11-04 11:00:00',
 '2017-11-04 13:00:00',
 '2017-11-04 14:00:00',
 '2017-12-02 10:00:00',
 '2017-12-02 11:00:00',
 '2017-12-02 13:00:00',
 '2017-12-02 14:00:00',
 '2018-02-07 00:00:00',
 '2018-02-14 00:00:00',
 '2018-02-21 00:00:00',
 '2018-03-21 00:00:00',
 '2018-07-02 00:00:00',
 '2018-10-06 10:00:00',
 '2018-10-06 12:00:00',
 '2018-10-06 13:00:00',
 '2018-11-10 10:00:00',
 '2018-11-10 10:45:00',
 '2018-11-10 11:30:00',
 '2018-11-10 12:15:00',
 '2018-11-10 13:00:00',
 '2018-12-01 10:00:00',
 '2018-12-01 12:00:00']

In [87]:
df['rank'].unique()

array([4583. , 4046. , 3671. , 6456.5, 7411. , 7034.5, 6802.5, 6711. ,
       3215.5, 4958. , 5893.5, 5287.5, 6253.5, 2870. , 2564.5, 2122.5,
       1871. , 7916.5, 7664. ,  616.5,  129.5, 1752.5,   59. , 1363.5,
        176.5,  121.5])

In [108]:
myList = ['this, that']

In [111]:
for i, value in enumerate(myList):
    print(i, value)

0 this, that