In [27]:
import pandas as pd
from datetime import datetime, time, date
import numpy as np

In [2]:
df = pd.read_csv("../outputs/full_07_datetime.csv")

In [3]:
df[['new_datetime','rank']].sort_values('rank')

             new_datetime  rank
8083  2017-11-04T10:00:00   1.0
7634  2017-11-04T10:00:00   1.0
7635  2017-11-04T10:00:00   1.0
7636  2017-11-04T10:00:00   1.0
7637  2017-11-04T10:00:00   1.0
...                   ...   ...
5880  2018-12-01T12:00:00  22.0
5881  2018-12-01T12:00:00  22.0
5882  2018-12-01T12:00:00  22.0
6125  2018-12-01T12:00:00  22.0
6247  2018-12-01T12:00:00  22.0

[8084 rows x 2 columns]

In [4]:
df_other = pd.read_csv("../input_other/order numbers - Sheet1.csv")

In [5]:
df_other.head()

,Day,Trial#,male_1,male_2,male_3,male_4,male_5,male_6,female_1,female_2,female_3,female_4,female_5,female_6
0,1,1,5,2,6,3,1,4,1,4,5,3,6,2
1,1,2,2,1,6,4,5,3,5,1,4,2,6,3
2,1,3,3,7,5,2,1,4,3,4,6,5,1,2
3,1,4,3,4,2,5,7,1,3,6,2,1,5,4
4,1,5,5,3,2,1,6,4,1,7,3,4,5,2

In [6]:
df_other.tail()

,Day,Trial#,male_1,male_2,male_3,male_4,male_5,male_6,female_1,female_2,female_3,female_4,female_5,female_6
219,9,157,3,6,2,5,4,1,2,7,5,1,4,3
220,9,158,4,5,6,3,2,1,4,1,7,2,5,3
221,9,159,1,2,4,6,3,5,3,5,4,7,2,1
222,9,160,2,4,7,3,5,1,5,4,6,2,1,3
223,9,161,2,1,4,5,3,7,5,3,4,1,2,6

In [48]:
df.iloc[:,np.r_[4,11:18,21:25,37:]]

,gender,member,member1,member2,member3,member4,member5,member6,subject_nr,target,...,time_experiment,time_gender_randomization_sequence,time_identification_task,time_lineup_sequence,time_live_view,time_logger,time_member_randomization_loop,time_member_randomization_sequence,time_setting_sequence,time_video
0,female,1,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,23997.0,2989.0,NaN,41743,2521.0,2524.0,NaN,5828.0
1,female,2,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,54320.0,42027.0,NaN,57664,2521.0,2524.0,NaN,42027.0
2,female,3,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,75520.0,57948.0,NaN,87704,2521.0,2524.0,NaN,57948.0
3,female,4,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,97841.0,87971.0,NaN,100552,2521.0,2524.0,NaN,87971.0
4,female,5,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,114306.0,100825.0,NaN,117243,2521.0,2524.0,NaN,100825.0
5,female,6,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,128050.0,117523.0,NaN,130979,2521.0,2524.0,NaN,117523.0
6,female,6,3.0,2.0,4.0,1.0,6.0,5.0,99,target2,...,2452,2521.0,128050.0,117523.0,NaN,148721,2521.0,2524.0,NaN,117523.0
7,male,6,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,128050.0,117523.0,NaN,148795,148788.0,148795.0,NaN,117523.0
8,male,6,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,128050.0,117523.0,NaN,148833,148788.0,148795.0,NaN,117523.0
9,male,6,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,128050.0,117523.0,NaN,148873,148788.0,148795.0,NaN,117523.0
10,male,1,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,159745.0,149172.0,NaN,162238,148788.0,148795.0,NaN,150545.0
11,male,2,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,172391.0,162521.0,NaN,175532,148788.0,148795.0,NaN,162522.0
12,male,3,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,185855.0,175817.0,NaN,188555,148788.0,148795.0,NaN,175818.0
13,male,4,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,200798.0,188829.0,NaN,204376,148788.0,148795.0,NaN,188829.0
14,male,5,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,214392.0,204651.0,NaN,224049,148788.0,148795.0,NaN,204651.0
15,male,6,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,231211.0,224321.0,NaN,235207,148788.0,148795.0,NaN,224321.0
16,male,6,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,231211.0,224321.0,NaN,250616,148788.0,148795.0,NaN,224321.0
17,male,6,2.0,4.0,5.0,3.0,1.0,7.0,99,target1,...,2452,148788.0,231211.0,224321.0,NaN,251821,148788.0,148795.0,NaN,224321.0
18,female,1,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,22902.0,4376.0,NaN,26022,3901.0,3903.0,NaN,6620.0
19,female,2,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,31326.0,26314.0,NaN,34236,3901.0,3903.0,NaN,26314.0
20,female,3,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,50431.0,34521.0,NaN,55697,3901.0,3903.0,NaN,34521.0
21,female,4,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,59845.0,55983.0,NaN,62507,3901.0,3903.0,NaN,55984.0
22,female,5,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,70366.0,62792.0,NaN,73293,3901.0,3903.0,NaN,62793.0
23,female,6,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,83928.0,73574.0,NaN,86848,3901.0,3903.0,NaN,73574.0
24,female,6,4.0,1.0,3.0,2.0,5.0,7.0,94,target2,...,3827,3901.0,83928.0,73574.0,NaN,108131,3901.0,3903.0,NaN,73574.0
25,male,6,4.0,6.0,5.0,3.0,2.0,1.0,94,target1,...,3827,108196.0,83928.0,73574.0,NaN,108198,108196.0,108198.0,NaN,73574.0
26,male,1,4.0,6.0,5.0,3.0,2.0,1.0,94,target1,...,3827,108196.0,118951.0,108505.0,NaN,121656,108196.0,108198.0,NaN,111014.0
27,male,2,4.0,6.0,5.0,3.0,2.0,1.0,94,target1,...,3827,108196.0,128902.0,121948.0,NaN,136806,108196.0,108198.0,NaN,121948.0
28,male,3,4.0,6.0,5.0,3.0,2.0,1.0,94,target1,...,3827,108196.0,143669.0,137105.0,NaN,147022,108196.0,108198.0,NaN,137105.0
29,male,4,4.0,6.0,5.0,3.0,2.0,1.0,94,target1,...,3827,108196.0,154590.0,147306.0,NaN,156854,108196.0,108198.0,NaN,147307.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8054,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,1641,NaN,91760.0,40805.0,79532.0,97404,NaN,NaN,79530.0,NaN
8055,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,1641,NaN,111083.0,40805.0,97487.0,118314,NaN,NaN,97486.0,NaN
8056,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,1641,NaN,131508.0,40805.0,118396.0,135024,NaN,NaN,118394.0,NaN
8057,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,1641,NaN,150473.0,40805.0,135104.0,154285,NaN,NaN,135102.0,NaN
8058,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,1641,NaN,150473.0,40805.0,135104.0,181228,NaN,NaN,135102.0,NaN
8059,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,12,NaN,...,1641,NaN,150473.0,40805.0,135104.0,199596,NaN,NaN,135102.0,NaN
8060,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,67440.0,41387.0,41429.0,77578,NaN,NaN,41428.0,NaN
8061,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,95642.0,41387.0,77662.0,102685,NaN,NaN,77660.0,NaN
8062,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,117736.0,41387.0,102769.0,123334,NaN,NaN,102767.0,NaN
8063,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,131030.0,41387.0,123415.0,137479,NaN,NaN,123413.0,NaN
8064,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,145595.0,41387.0,137556.0,152595,NaN,NaN,137554.0,NaN
8065,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,161822.0,41387.0,152678.0,168067,NaN,NaN,152676.0,NaN
8066,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,161822.0,41387.0,152678.0,200257,NaN,NaN,152676.0,NaN
8067,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,11,NaN,...,1630,NaN,161822.0,41387.0,152678.0,216009,NaN,NaN,152676.0,NaN
8068,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,53526.0,35113.0,35157.0,57095,NaN,NaN,35155.0,NaN
8069,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,67539.0,35113.0,57212.0,70952,NaN,NaN,57211.0,NaN
8070,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,79634.0,35113.0,71041.0,82810,NaN,NaN,71039.0,NaN
8071,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,93696.0,35113.0,82886.0,97198,NaN,NaN,82884.0,NaN
8072,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,107753.0,35113.0,97279.0,110998,NaN,NaN,97277.0,NaN
8073,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,121287.0,35113.0,111077.0,124783,NaN,NaN,111075.0,NaN
8074,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,121287.0,35113.0,111077.0,144468,NaN,NaN,111075.0,NaN
8075,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,1658,NaN,121287.0,35113.0,111077.0,170135,NaN,NaN,111075.0,NaN
8076,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2326216.0,2299186.0,2299238.0,2336176,NaN,NaN,2299236.0,NaN
8077,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2353684.0,2299186.0,2336271.0,2358919,NaN,NaN,2336269.0,NaN
8078,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2378613.0,2299186.0,2359010.0,2382650,NaN,NaN,2359008.0,NaN
8079,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2399973.0,2299186.0,2382731.0,2403453,NaN,NaN,2382729.0,NaN
8080,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2427545.0,2299186.0,2403538.0,2430740,NaN,NaN,2403536.0,NaN
8081,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2441062.0,2299186.0,2430824.0,2445161,NaN,NaN,2430823.0,NaN
8082,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2441062.0,2299186.0,2430824.0,2465733,NaN,NaN,2430823.0,NaN
8083,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN,...,1526,NaN,2441062.0,2299186.0,2430824.0,2472682,NaN,NaN,2430823.0,NaN

In [ ]:
# [:, np.r_[1:3, 6:len(df.columns)]])