In [2]:
import pandas as pd
from pprint import pprint
df = pd.read_csv('../outputs/all_member.csv')

In [3]:
df['datetime'].value_counts()

12/01/18 13:08:50    53
12/02/17 14:01:59    39
11/04/17 12:21:14    39
10/06/18 12:45:09    39
11/04/2017 11:09     39
02/21/18 15:30:33    39
11/10/18 10:47:20    39
02/07/18 15:32:46    37
11/04/2017 11:19     37
11/10/18 13:48:03    36
10/06/18 11:32:02    34
11/04/17 12:34:38    34
12/02/17 14:01:53    33
12/02/17 14:01:34    32
02/21/18 14:51:03    32
12/02/17 11:48:49    32
03/21/18 15:29:03    32
10/06/18 12:44:23    32
12/02/17 14:16:55    32
11/04/17 13:59:11    32
11/04/17 12:06:07    32
11/04/17 11:45:35    32
11/04/17 13:56:51    32
02/07/18 15:18:20    32
12/01/18 13:01:49    32
02/07/18 15:09:49    28
03/21/18 15:05:20    27
12/01/18 12:53:36    27
11/10/18 10:57:17    27
02/21/18 15:17:46    27
                     ..
10/06/18 13:03:43     8
11/10/18 13:41:21     8
11/10/18 11:26:07     8
12/02/17 11:20:50     8
12/02/17 14:03:12     8
11/04/17 14:35:26     8
11/10/18 13:55:20     8
10/06/18 11:05:29     8
02/14/18 15:23:02     8
10/06/18 12:55:42     8
11/04/17 11:52:25     8
11/04/17 12:10:47     8
12/01/18 13:08:18     8
02/21/18 15:39:55     8
02/14/18 14:49:42     8
11/10/18 11:26:25     8
10/06/18 12:51:20     8
11/04/17 11:41:08     8
12/02/17 13:41:25     8
10/06/18 11:08:57     8
11/04/17 14:59:52     8
11/10/18 12:27:46     8
10/06/18 13:27:41     8
12/01/18 13:16:19     8
11/04/17 14:22:50     8
11/04/17 14:52:15     8
02/21/18 15:46:50     8
11/04/17 14:26:48     8
10/06/18 11:30:31     8
10/06/18 14:00:00     6
Name: datetime, Length: 564, dtype: int64

In [5]:
df['experiment_file'].value_counts()

lineup_videoVIPER.osexp      2311
lineup_videoFB.osexp         2191
lineup_videoVIPER_W.osexp    1125
lineup_liveWOMEN.osexp        991
lineup_liveMEN.osexp          931
lineup_videoFB_W.osexp        821
lineup_liveMEN_W.osexp        204
lineup_liveWOMEN_W.osexp      183
Name: experiment_file, dtype: int64

In [5]:
df['lecture_time'].value_counts(dropna=False)

NaN        2333
1pm        1731
10am       1538
11am       1234
12am        744
12.15pm     457
12noon      310
2pm         163
10.45am     143
11.30am      50
12 noon      48
no            6
Name: lecture_time, dtype: int64