In [45]:
import pandas as pd
from datetime import datetime, time, date
import numpy as np

In [52]:
df = pd.read_csv("../outputs_v2/05_grouping_2.csv")

In [66]:
sel = df[(df['subject_nr']==111)&(df['condition'] == 'FB')&(df['gender_updated']=='male')]
sel[['member', 'repetition', 'date_rank']]

      member    repetition  date_rank
6254       6     first_six        7.0
6255       6  repeated_six        7.0
6256       1             0        7.0
6257       2             0        7.0
6258       3             0        7.0
6259       4             0        7.0
6260       5             0        7.0
6261       6             0        7.0
6262       6  repeated_six        7.0
6263       6  repeated_six        7.0
6274       1             0        8.0
6275       2             0        8.0
6276       3             0        8.0
6277       4             0        8.0
6278       5             0        8.0
6279       6             0        8.0
6280       6  repeated_six        8.0